body {
    background-color: aqua;
    border-style: solid;
}

html, body {
    margin: 0;
    height: 100%;
}

.case {
    margin-left: 30%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 25px;
    gap: 5px;
    width: 40%;
    height: 70%;
}

div button {
    background-color: lime;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    height: 20%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: red;
    border-style: solid;
    border-radius: 25px;
}

.display div {
    flex-grow: 1;
    margin-right: 20px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    height: 16%;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    height: 16%;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
    height: 16%;
}

.row4 {
    display: flex;
    justify-content: space-evenly;
    height: 16%;
}

.row5 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    height: 16%;
}

.row1 button {
    width: 45.5%;
    border-radius: 25px;
}

.row2 button {
    width: 21%;
    border-radius: 25px;
}

.row3 button {
    width: 21%;
    border-radius: 25px;
}

.row4 button {
    width: 21%;
    border-radius: 25px;
}

.row5 button {
    width: 21%;
    border-radius: 25px;
}